
<%- include("header") %>

<!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Tables</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div >
                  <form action="/SearchAdminData" class="px-5 my-3 d-flex">

                      <input type="text" name="adminSearch" class="form-control " placeholder="Searching..." name="searchAdminData"  id="searchAdminData" />
                  <button type="submit" class="btn btn-success text-white">Search</button>
                  </form>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Static Table</h5>
                            </div>
                            <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col" class="font-weight-bold">No</th>
                                      <th scope="col" class="font-weight-bold">Name</th>
                                      <th scope="col" class="font-weight-bold">Email</th>
                                      <th scope="col" class="font-weight-bold">Password</th>
                                      <th scope="col" class="font-weight-bold">Phone</th>
                                      <th scope="col" class="font-weight-bold">Gender</th>
                                      <th scope="col" class="font-weight-bold">City</th>
                                      <th scope="col" class="font-weight-bold">Hobbies</th>
                                      <th scope="col" class="font-weight-bold">Avatar</th>
                                      <th scope="col" class="font-weight-bold">Actions</th>
                                    </tr>
                                  </thead>
                                   <tbody>
                                    <% data.map((ele, index) => { %>
                                      <tr>
                                        <td scope="col"><%= index+1 %></td>
                                        <td scope="col"><%= ele.name %></td>
                                        <td scope="col"><%= ele.email %></td>
                                        <td scope="col"><%= ele.password%></td>
                                        <td scope="col"><%= ele.phone %></td>
                                        <td scope="col"><%= ele.gender %></td>
                                        <td scope="col"><%= ele.city %></td>
                                        <td scope="col"><%= ele.hobbies.join(",")%></td>
                                        <td scope="col">
                                          <img src="<%= ele.avatar %>" width="100px" />
                                        </td>
                                        <td scope="col">
                                          <a class="mr-4" href="/edit_admin?userId=<%= ele.id %>">
                                            <i class=" fas fa-pencil-alt font-20"></i>
                                          </a>
                                         <a class="mr-4" href="/delete_admin/<%= ele._id %>" >
                                          <i class="fas fa-trash-alt text-danger font-20"></i>
                                        </a>

                                        </td>
                                      </tr>
                                    <% })%>

                                      
                           <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                  <% for(let i = 0; i < totalPage; i++) { %>
                                    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                      <a class="page-link" href="?page=<%= i %><%= search ? '&adminSearch=' + search : '' %>">
                                        <%= i + 1 %>
                                      </a>
                                    </li>
                                  <% } %>
                                </ul>
                           </nav>


                                  </tbody>
                            </table>
                        </div>
                      
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->


<%- include("footer") %>